html {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(45deg, #f5f5f5 30%, rgba(0, 0, 0, 0) 30%),
    -webkit-linear-gradient(135deg, #e0e0e0 60%, #eee 60%);
  background: -o-linear-gradient(45deg, #f5f5f5 30%, rgba(0, 0, 0, 0) 30%),
    -o-linear-gradient(135deg, #e0e0e0 60%, #eee 60%);
  background: -moz-linear-gradient(45deg, #f5f5f5 30%, rgba(0, 0, 0, 0) 30%),
    -moz-linear-gradient(135deg, #e0e0e0 60%, #eee 60%);
  background: linear-gradient(45deg, #f5f5f5 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(135deg, #e0e0e0 60%, #eee 60%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.app-loading {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.app-loading .logo {
  width: 100px;
  height: 100px;
  background: url(/logo.svg) center center no-repeat;
}
.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #5e5e5e;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
